<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253083651920-7rko1baduhbge06bi99na0c0fqtbg7iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253083651920-7rko1baduhbge06bi99na0c0fqtbg7iu</string>
	<key>API_KEY</key>
	<string>AIzaSyAPkr11r-qQ5Ix9WMlAHEnTS4k7m3PyQ4M</string>
	<key>GCM_SENDER_ID</key>
	<string>253083651920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derekdileo.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ed5d3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ed5d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253083651920:ios:9f42dc889c38f0dcd42655</string>
</dict>
</plist>